<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Perfil | ReAprovecha Centelles</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<header>
    <a href="/"><img src="{{ url_for('static', filename='img/logo.png') }}" class="logo" alt="Logo"></a>
    <h1>Perfil del proyecto</h1>
</header>
<div class="container">
    <p><strong>Nombre del creador:</strong> Lyumer La Cruz</p>
    <p><strong>Correo:</strong> <a href="mailto:lyumerg@gmail.com">lyumerg@gmail.com</a></p>
    <p><strong>Teléfono:</strong> <a href="tel:+34602210019">602 210 019</a></p>
    <p>Esta app ha sido creada para ayudar a reducir el desperdicio alimentario en Centelles y fomentar una economía más
        sostenible. El acceso es gratuito para los ciudadanos y permite a negocios publicar alimentos no vendidos de
        forma rápida y sencilla.</p>
    <br>
    <a href="/">Volver a inicio</a>
</div>
</body>
</html>
